.div1{
    width: 90%; margin: 1px; 
}
.mainsection{
    display: flex;
  align-items: center;
    padding: 0 29%;
}
.Contact {
    margin: 3rem auto ;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: black;
    max-height: 500rem;
    height: 96%;
}
.h1{
    font-weight: bold;
}
.form{
   display: block;
   width: 100%;
}
.input{
    margin-bottom: 14px;
    width: 100%;
    height: 40px;
    background: transparent;
    color:black;
    font-size: 14px;
    border: none;
    border-bottom:1px solid  black;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.text{
    margin-top: 13px;
    height: 40px;
    width: 100%;
    background: white;
    border-radius: 2px solid black;
    color: black;
}
.get{
  margin: 3rem auto ;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #325aec;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
  max-height: 500rem;
  height: 96%;
  float: inline-end;
}
.icons{
    align-items: initial;
    justify-items: start;
    padding: 2px;
    margin-right: 3px;
}
.button{
    color: white;
  background-color: #325aec;
  border: 1px solid #325aec;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.8rem 3.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}